<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 注册目标对象 -->
    <bean class="com.study.springboot.myfactorybean.UserServiceImpl" id="userServiceImpl"/>
    <!-- 注册FactoryBean对象 -->
    <bean id="myFactoryBean" class="com.study.springboot.myfactorybean.MyFactoryBeanEnhance">
        <property name="interfaceName" value="com.study.springboot.myfactorybean.IUserService"/>
        <property name="target" ref="userServiceImpl"/>
    </bean>
</beans>